// Font - regular
@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NHaasGroteskTXPro-55Rg.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Font - medium
@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NHaasGroteskTXPro-65Md.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Font - bold
@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/NHaasGroteskTXPro-75Bd.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Global setup
body {
  margin: 0px;
  background-color: #070a0e;
  font-family: "Neue Haas Grotesk", sans-serif;
}

// nProgress bar overrides
#nprogress .bar {
  background: #00d395 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #00d395, 0 0 5px #00d395 !important;
}

#nprogress .spinner-icon {
  border-top-color: #00d395 !important;
  border-left-color: #00d395 !important;
}
