// Header
.header {
  background-color: #070a0e;
  height: 60px;
  padding: 10px 0px;

  > div {
    max-width: 1100px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin: 0px auto;

    div {
      display: inline-block;
      height: 60px;
      vertical-align: top;

      button {
        padding: 0rem 1.6rem;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
        transition: 0.2s ease-in, color 0.2s ease-in;
        background-color: transparent;
        color: #00d395;
        border: 1px solid;
        border-color: #00d395;
        border-radius: 3px;
        margin-top: 5px;
        float: right;
        cursor: pointer;

        span {
          display: inline-block;
          vertical-align: middle;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;
          height: 17px;
          width: 17px;

          path {
            fill: #00d395;
            transition: fill 0.2s ease-in;
          }
        }
      }

      button:hover {
        background-color: #00d395;
        color: #fff;

        path {
          fill: #fff;
        }
      }

      button:focus {
        outline: none;
      }
    }

    div:nth-of-type(1) {
      width: 150px;

      img {
        height: 30px;
        margin-top: 15px;
      }
    }

    div:nth-of-type(2) {
      width: calc(100% - 350px);
      text-align: center;

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          display: inline-block;
          margin: 20px 12px;

          a {
            font-weight: bold;
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            padding-bottom: 0.2rem;
            transition: padding 0.2s ease;
          }

          a:hover {
            color: #00d395;
            padding-bottom: 0.5rem;
          }
        }
      }
    }

    div:nth-of-type(3) {
      width: 200px;
    }

    div:nth-child(4) {
      display: none;
      position: absolute;
      right: 20px;
      top: 30px;
    }

    div:nth-child(5) {
      position: absolute;
      background-color: #070a0e;
      width: calc(100vw - 40px);
      padding: 0px 20px;
      left: 0px;
      top: 80px;
      height: calc(100vh - 80px);
      z-index: 999;
      text-align: center;

      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
          margin: 50px 0px;

          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
          }
        }

        li:last-child {
          margin-bottom: 100px;
        }
      }

      button {
        float: none;
        width: 100%;
      }
    }
  }
}

// Mobile menu states
.mobileMenuOpen {
  display: initial !important;
}

.mobileMenuHidden {
  display: none !important;
}

// Active navigation link override
.active {
  color: #00d395 !important;
  border-bottom: 1px solid #00d395;
}

// Content
.content {
  background-color: rgb(249, 250, 251);
}

// Footer
.footer {
  background-color: #070a0e;
  height: 185px;

  > div {
    max-width: 1100px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin: 0px auto;
    text-align: center;

    span:nth-of-type(1) {
      padding-top: 40px;
    }

    span {
      display: block;
      color: rgb(170, 184, 193);
      font-size: 16px;
      padding: 5px 0px;

      a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid rgb(170, 184, 193);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    > div {
      div:nth-child(2),
      div:nth-child(3) {
        display: none;
      }

      div:nth-child(4) {
        display: initial;
      }
    }
  }
}
